/* 외부 아이콘 라이브러리를 사용하기 위해 임포트 */
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
.hidden {
  display: none;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
body {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}
.contatiner {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
#clock {
  color: #fff;
  font-size: 70px;
}

.bgImageAfter {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
}
.bgImageAfter img {
  display: block;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  object-fit: cover;
}
.bgImageAfter::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.351);
  width: 100%;
  height: 100%;
}

#name-form input[type="text"],
#todo-form input[type="text"] {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
}
#name-form input[type="text"]:focus::placeholder,
#todo-form input[type="text"]:focus::placeholder {
  opacity: 0;
}
#name-form input[type="text"]::placeholder,
#todo-form input[type="text"]::placeholder {
  color: #ddd;
}

#name-form input[type="text"],
#greeting {
  font-size: 70px;
  margin: 10px 0 30px 0;
  color: #fff;
}
#name-form.hidden {
  visibility: visible;
  opacity: 1;
}
#name-form input[type="text"] {
  border-bottom: 2px solid #ddd;
  text-align: center;
}
#name-form button {
  display: none;
}

#todo-form input[type="text"] {
  font-size: 20px;
  border-bottom: 2px solid #ddd;
}
.todolist {
  position: absolute;
  top: 350px;
  left: 30%;
  overflow: hidden;
}
.xi-calendar-list {
  font-family: xeicon;
  color: #fff;
  font-size: 35px;
  transform: translateY(7px);
  padding-right: 10px;
}
#todo-form {
  float: left;
  margin-top: 50px;
}
#todo-list {
  margin-left: 40px;
  margin-top: 0;
  float: right;
  color: #fff;
  padding: 0;
  text-align: left;
}
#todo-list li {
  margin: 10px 0;
  font-size: 20px;
}
#todo-list li span {
  padding: 2px;
  transition: 0.3s;
}
#todo-list li:hover span {
  border-radius: 3px;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.5);
}
#todo-list li button {
  padding-left: 20px;
  background-color: transparent;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

#weather {
  position: relative;
  font-size: 15px;
  color: #fff;
  float: right;
  margin: 20px;
  margin-right: 50px;
}
/* 너비가 768픽셀~1024픽셀일 때 */
@media (min-width: 768px) and (max-width: 1024px) {
  #name-form input[type="text"],
  #greeting {
    font-size: 50px;
  }

  .todolist {
    left: 20%;
  }
}
/* 너비가 767픽셀보다 작을 때  */
@media (max-width: 767px) {
  #clock {
    font-size: 40px;
  }

  #name-form input[type="text"],
  #greeting {
    font-size: 20px;
  }
  .xi-calendar-list {
    font-size: 25px;
    padding-right: 5px;
    transform: translateY(6px);
  }
  .todolist {
    top: 200px;
    left: 20%;
    overflow: visible;
  }
  #todo-list,
  #todo-form {
    float: none;
  }
  #todo-list {
    position: absolute;
    left: 10px;
    top: 100px;
  }
  #todo-form input[type="text"],
  #todo-list li {
    font-size: 15px;
  }
  #todo-list li button {
    font-size: 12px;
  }
  #todo-list li {
    margin: 5px 0;
  }

  #weather {
    font-size: 12px;
    margin: 10px;
  }
}
